// Змінні
$font-stack: Helvetica, sans-serif;
$primary-color: green;

h1 {
    font-family: $font-stack;
    color: red;
}

// Міксини
@mixin border-radius($radius) {
    border-radius: $radius;
}

// Розширення
%message-shared {
    border: 1px solid #ccc;
    padding: 10px;
    color: $primary-color;

    @include border-radius(4px);
}

.message {
    @extend %message-shared;
}

.success {
    @extend %message-shared;
    border-color: green;
}

.error {
    @extend %message-shared;
    border-color: red;
}

.warning {
    @extend %message-shared;
    border-color: yellow;
}

// Вкладеність
.container {
    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li { display: inline-block; }

        a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
        }
    }
}
